artistes {
  display: table;
  border: 1px solid black;

  border-spacing: 2px;
}
th,
artiste {
  display: table-row;
}
td {
  background-color: blue;
  color: white;
}
td,
Num,
Titre,
Artiste,
Pays,
Societe,
Prix,
Annee {
  display: table-cell;
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}
artiste:last-child {
  font-weight: bold;
}
